* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #1a0554;
  color: rgb(251, 238, 255);
  font-family: sans-serif;
  min-height: 100vh;
  overflow: hidden;
  margin-top: 0;
}

h1 {
  font-size: 40px;
  margin-top: 0px;
  padding-top: 5px;
  margin-bottom: 10px;
}

p {
  font-size: 1.1rem;
}

.level-and-score-wrapper p {
  margin-top: 5px;
}

.high-score {
  color: #ff40bf;
  font-size: 1.1rem;
}

.rules {
  position: absolute;
  left: 0;
  top: 0;
  min-height: 100vh;
  background-color: #c4a8ff;
  color: black;
  padding: 20px;
  width: 400px;
  line-height: 1.5;
  transform: translateX(-400px);
  transition: transform 1s ease-in-out;
}

.rules.show {
  transform: translateX(0);
}

.rules h3 {
  font-size: 1.5rem;
}

.btn-rules {
  position: absolute;
  top: 50px;
  left: 50px;
}

.btn-close {
  margin-top: 15px;
}

.btn {
  padding: 10px 20px;
  background-color: #653eb9;
  color: white;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  background-color: #9470e2;
  cursor: pointer;
}

.btn:focus {
  outline: 0;
}

.btn:active {
  transform: scale(0.95);
}

.game-leaderboard-container {
  display: flex;
}

canvas {
  background-color: #664eae;
  border-radius: 5px;
  display: block;
}

.form-leaderboard-container {
  margin-left: 30px;
  max-width: 450px;
  min-width: 200px;
  margin-right: 10px;
}

input {
  width: 100%;
  padding: 4px 0;
  border-radius: 5px;
  font-size: 1.1rem;
}

input[type='text'] {
  background-color: rgb(244, 238, 248);
}

input[type='submit'] {
  background-color: #e20d9b;
  color: #fff;
  margin-bottom: 25px;
}

.invalid-name-error {
  color: rgb(252, 56, 56);
  margin-top: 4px;
  padding: 0;
  margin-bottom: 15px;
}

.leaderboard-container {
  max-height: 380px;
  overflow: auto;
}

table {
  width: 100%;
  text-align: center;
}

td {
  padding: 3px;
  word-break: break-all;
  border-bottom: 0.5px solid gray;
}

th {
  border-bottom: 0.5px solid gray;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #653eb9;
  border-radius: 10px;
}

footer {
  margin-bottom: 40px;
  margin-top: 15px;
  color: #c4a8ff;
}

footer a {
  color: #f772cb;
}
